// Colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$background: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$button: #7f5af0;
$button-text: #fffffe;

// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;

// Grid and elements sizes
$column-width: calc(95vw / 7);
$item-width: calc($column-width - 20px);
$item-height: calc($item-width * 1.48);
